body {
  align-items: center;
}
.form {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}
.tableContainer{
  padding: 10vh 1vw;
  width: 90vw;
  height: 100vh;
  font-size: 1em;
  box-sizing: border-box;
}