.top-menu {
  align-items: center;
  background-color: darkgrey;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  width: auto;
}

.menu-icon {
  height: 30px;
  width: auto;
}

.sidebar {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  height: 640px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.sidebar button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px 24px;
}

.sidebar-hidden {
  display: none;
}