.page-login {
  background-image: url(../images/login-background.jpg);
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.form-login {
  align-items: center;
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  margin-left: 40vw;
  margin-top: 40vh;
  width: 300px;
}

.form-login input{
  border-color: black;
  border-width: 0 0 1px;
  font-size: 20px;
  outline: 0;
  text-align: center;
}

.button-login {
  background-color: rgb(248, 193, 2);
  border: none;
  color: white;;
  padding: 14px 28px;
}

.button-login:disabled {
  background-color: grey;
  border: none;
  color: white;;
  padding: 14px 28px;
}

.register-login {
  border: none;
  color: rgb(20, 33, 61);
  margin-left: 43.5%;
  margin-top: 1%;
  padding: 14px 28px;
}

.error-message {
  color: red;
  position: absolute;
  margin-left: 44.5vw;
  margin-top: 59vh;
}

@media (max-width: 600px) {
  .form-login {
    margin-left: 23vw;
    margin-top: 35vh;
  }
  
  .register-login {
    margin-left: 35vw;
    margin-top: 1%;
  }
  
  .error-message {
    margin-left: 35vw;
    margin-top: 58vh;
  }
}