.products-page-div {
  height: 100vh;
  width: 100vw;
}

.products-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.product-card{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: 70px 10px 0 10px;
  padding: 5px;
  width: 200px;
}


img{
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  margin: 70px 10px 0 10px;
  padding: 5px;
  width: 150px;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
.product-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.quantity-div{
  align-items: center;
  background-color: rgb(248, 193, 2);
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  width: 180px;
}

.quantity-div button{
  background-color: rgb(248, 193, 2);
  border: none;
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.quantity-div button:hover{
  font-weight: 800;
}

.checkout-bottom {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 100vw;
}